.menu-nakama-contents {
  padding: 5vh 15vw;
}

.menu-nakama-contents>.title {
  text-align: center;
  font-size: 3.5vh;
  font-weight: bold;
  margin-bottom: 5vh;
  position: relative;
}

.menu-nakama-contents>.title::after {
  content: '';
  width: 290px;
  height: 4px;
  background-color: #179D84;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.menu-nakama-lists {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-nakama-lists>.list {
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;

  border: solid 4px #179D84;
  border-radius: 10px;
}

.menu-nakama-list-text {
  color: #179D84;
  background:linear-gradient(transparent 60%, #ff6 60%);
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
}

.menu-nakama-list-description {
  color: #179D84;
  font-size: 15px;
  margin: 10px;
}